@font-face{
	font-family: facebook;
	src:url(fonts/facebook-letter-faces.ttf);
}

#box{
	font: normal 36px facebook,Tahoma,Verdana;
	border: 1px solid #3D579D;
	width: 250px;
	height: 100px;
	text-align:center;
	line-height:100px;
	margin: 100px auto;	
	color:#3D579D;
	/* text-shadow:#000 0px 0px 8px; */
	
	transition:width 2s,transform 5s,background 3s,color 3s,font-size 2s;
	
}
#box:hover{
	width: 450px;
	transform:rotate(360deg);
	background:#3D579D;
	color:#fff;
	font-size:50px;
}












