@font-face{
	font-family: facebook;
	src:url(fonts/facebook-letter-faces.ttf);
}

#box{
	width:200px;
	height:200px;
	background:#ccc;
	
	
	transition:	width 2s 0s,
				height 2s 2s,
				background 2s 4s;
	
}
#box:hover{
	width:400px;
	height:400px;
	background:#666;
}












